 Alembic Path Debug:
  env.py location: C:\Users\Pc\Desktop\vscode\Planitor-Plan-Monitor\backend\db\migrations\env.py
  Project root: C:\Users\Pc\Desktop\vscode\Planitor-Plan-Monitor
  Python path: ['C:\\Users\\Pc\\Desktop\\vscode\\Planitor-Plan-Monitor', '.', 'C:\\Users\\Pc\\Desktop\\vscode\\Planitor-Plan-Monitor\\new_venv\\Scripts\\alembic.exe', 'C:\\Users\\Pc\\AppData\\Local\\Programs\\Python\\Python313\\python313.zip', 'C:\\Users\\Pc\\AppData\\Local\\Programs\\Python\\Python313\\DLLs', 'C:\\Users\\Pc\\AppData\\Local\\Programs\\Python\\Python313\\Lib', 'C:\\Users\\Pc\\AppData\\Local\\Programs\\Python\\Python313', 'C:\\Users\\Pc\\Desktop\\vscode\\Planitor-Plan-Monitor\\new_venv', 'C:\\Users\\Pc\\Desktop\\vscode\\Planitor-Plan-Monitor\\new_venv\\Lib\\site-packages']
BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 597219a556ce

DROP INDEX ix_discipline_zone_sequences_discipline;

DROP INDEX ix_discipline_zone_sequences_project_id;

DROP TABLE discipline_zone_sequences;

ALTER TABLE projects ADD COLUMN owner VARCHAR(100);

ALTER TABLE projects ADD COLUMN zone_sequences JSON DEFAULT '{}' NOT NULL;

ALTER TABLE projects DROP COLUMN client_name;

ALTER TABLE user_task_templates ADD COLUMN quantity INTEGER;

ALTER TABLE user_task_templates ADD COLUMN unit VARCHAR(20);

ALTER TABLE user_task_templates ADD COLUMN max_equipm_allowed INTEGER;

ALTER TABLE user_task_templates DROP COLUMN resource_priority;

ALTER TABLE user_task_templates DROP COLUMN preferred_equipment;

ALTER TABLE users ADD COLUMN superviser VARCHAR(60);

INSERT INTO alembic_version (version_num) VALUES ('597219a556ce') RETURNING alembic_version.version_num;

-- Running upgrade 597219a556ce -> a4628df1e535

ALTER TABLE user_task_templates ADD COLUMN unit_duration INTEGER;

ALTER TABLE user_task_templates ADD COLUMN duration_calculation_method VARCHAR;

UPDATE alembic_version SET version_num='a4628df1e535' WHERE alembic_version.version_num = '597219a556ce';

-- Running upgrade a4628df1e535 -> 9a6bcb129976

CREATE TABLE resource_templates (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    description TEXT, 
    category VARCHAR(50), 
    version INTEGER, 
    is_default BOOLEAN, 
    is_shared BOOLEAN, 
    is_active BOOLEAN, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_resource_templates_is_active ON resource_templates (is_active);

CREATE INDEX ix_resource_templates_user_id ON resource_templates (user_id);

CREATE TABLE equipment_resources (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    template_id INTEGER, 
    name VARCHAR(100) NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    type VARCHAR(100) NOT NULL, 
    category VARCHAR(50), 
    model VARCHAR(100), 
    base_count INTEGER, 
    hourly_rate FLOAT NOT NULL, 
    daily_rate FLOAT, 
    capacity VARCHAR(100), 
    max_units_per_task INTEGER, 
    base_productivity_rate FLOAT, 
    productivity_unit VARCHAR(50), 
    requires_operator BOOLEAN, 
    operator_type VARCHAR(100), 
    is_available BOOLEAN, 
    is_active BOOLEAN, 
    description TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(template_id) REFERENCES resource_templates (id) ON DELETE CASCADE, 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE UNIQUE INDEX ix_equipment_resources_code ON equipment_resources (code);

CREATE INDEX ix_equipment_resources_is_active ON equipment_resources (is_active);

CREATE INDEX ix_equipment_resources_template_id ON equipment_resources (template_id);

CREATE INDEX ix_equipment_resources_user_id ON equipment_resources (user_id);

CREATE TABLE worker_resources (
    id SERIAL NOT NULL, 
    user_id INTEGER NOT NULL, 
    template_id INTEGER, 
    name VARCHAR(100) NOT NULL, 
    code VARCHAR(50) NOT NULL, 
    specialty VARCHAR(100) NOT NULL, 
    category VARCHAR(50), 
    base_count INTEGER, 
    hourly_rate FLOAT NOT NULL, 
    daily_rate FLOAT, 
    max_workers_per_crew INTEGER, 
    base_productivity_rate FLOAT, 
    productivity_unit VARCHAR(50), 
    qualification_level VARCHAR(50), 
    skills JSONB, 
    required_certifications JSONB, 
    is_active BOOLEAN, 
    description TEXT, 
    created_at TIMESTAMP WITHOUT TIME ZONE, 
    updated_at TIMESTAMP WITHOUT TIME ZONE, 
    PRIMARY KEY (id), 
    FOREIGN KEY(template_id) REFERENCES resource_templates (id) ON DELETE CASCADE, 
    FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE UNIQUE INDEX ix_worker_resources_code ON worker_resources (code);

CREATE INDEX ix_worker_resources_is_active ON worker_resources (is_active);

CREATE INDEX ix_worker_resources_template_id ON worker_resources (template_id);

CREATE INDEX ix_worker_resources_user_id ON worker_resources (user_id);

DROP INDEX ix_resources_is_active;

DROP INDEX ix_resources_resource_type;

DROP INDEX ix_resources_user_id;

DROP TABLE resources;

ALTER TABLE schedule_tasks ADD COLUMN allocated_equipments JSONB;

ALTER TABLE schedule_tasks DROP COLUMN actual_end_date;

ALTER TABLE schedule_tasks DROP COLUMN allocated_equipment;

ALTER TABLE schedule_tasks DROP COLUMN completion_percentage;

ALTER TABLE schedule_tasks DROP COLUMN actual_start_date;

ALTER TABLE user_task_templates ADD COLUMN max_equipment_allowed INTEGER;

ALTER TABLE user_task_templates ADD COLUMN template_name VARCHAR(20);

ALTER TABLE user_task_templates DROP COLUMN max_equipm_allowed;

UPDATE alembic_version SET version_num='9a6bcb129976' WHERE alembic_version.version_num = 'a4628df1e535';

-- Running upgrade 9a6bcb129976 -> e77f28b78ca2

UPDATE alembic_version SET version_num='e77f28b78ca2' WHERE alembic_version.version_num = '9a6bcb129976';

-- Running upgrade e77f28b78ca2 -> c1dff5cb4833

UPDATE alembic_version SET version_num='c1dff5cb4833' WHERE alembic_version.version_num = 'e77f28b78ca2';

-- Running upgrade c1dff5cb4833 -> e37e589ae051

UPDATE alembic_version SET version_num='e37e589ae051' WHERE alembic_version.version_num = 'c1dff5cb4833';

-- Running upgrade e37e589ae051 -> 728a605a00a6

UPDATE alembic_version SET version_num='728a605a00a6' WHERE alembic_version.version_num = 'e37e589ae051';

-- Running upgrade 728a605a00a6 -> ccc70f572d1e

UPDATE alembic_version SET version_num='ccc70f572d1e' WHERE alembic_version.version_num = '728a605a00a6';

-- Running upgrade ccc70f572d1e -> 8612a3255205

UPDATE alembic_version SET version_num='8612a3255205' WHERE alembic_version.version_num = 'ccc70f572d1e';

-- Running upgrade 8612a3255205 -> 40cc607d44e8

UPDATE alembic_version SET version_num='40cc607d44e8' WHERE alembic_version.version_num = '8612a3255205';

COMMIT;

